CONFIG_FLASH_SIZE="256K"
CONFIG_FLASH_SIZE_KB=256
CONFIG_USER_ENV_BANK_NUM=16
CONFIG_KVS_ENV_BANK_NUM=2
CONFIG_BOOTLOADER_SIZE=0x8000
CONFIG_BOOT_ENV_BANK_NUM=16
CONFIG_EF_WRITE_GRAN_1=y
# CONFIG_EF_WRITE_GRAN_8 is not set
# CONFIG_EF_WRITE_GRAN_32 is not set
CONFIG_EF_WRITE_GRAN=1
CONFIG_EF_ERASE_MIN_SIZE=0x1000
CONFIG_USING_EXTERNAL_CRC32=y
# CONFIG_USING_DEBUG is not set